<section style="height:80px;"></section>
  <!----------- Footer ------------>
  <footer class="footer-bs">
      <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <img src="assets/img/merchant_logo.png" alt="Logo" style="background-color: white;height: 50px;width: 75px;">
              <p style="font-weight: 900;line-height: 1.5rem;">Merchandise your goods to the world trade market by shake your hands with us. We have experienced Pilots and Captains to safe guard your goods during transportation. We are here for you to ship your goods and products. we ship for you !!</p>
              <p>© 2020, All rights reserved</p>
          </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Menu </h4>
            <div class="col-md-6">
                  <ul class="pages">
                      <li><a href="#">Trade</a></li>
                      <li><a href="#">Partners</a></li>
                      <li><a href="#">Agreements</a></li>
                      <li><a href="#">Investers</a></li>
                      <li><a href="#">Maintainence</a></li>
                  </ul>
              </div>
            <div class="col-md-6">
                  <ul class="list">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Contacts</a></li>
                      <li><a href="#">Terms & Condition</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                  </ul>
              </div>
          </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>Follow Us</h4>
            <ul>
              <li><a href="#"><i class="fab fa-facebook fa-fw" aria-hidden="true"></i>&nbsp; Facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter fa-fw" aria-hidden="true"></i>&nbsp; Twitter</a></li>
                <li><a href="#"><i class="fab fa-instagram fa-fw" aria-hidden="true"></i>&nbsp; Instagram</a></li>
                <li><a href="#"><i class="fab fa-youtube fa-fw" aria-hidden="true"></i>&nbsp; YouTube</a></li>
              </ul>
          </div>
        <div class="col-md-3 footer-ns animated fadeInRight">
            <h4>Newsletter</h4>
              <p>Subscribe here for more incoming updates on future !!</p>
              
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Your Email ...">
                    <span class="input-group-btn">
                      <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-envelope">subscribe</span></button>
                    </span>
                  </div>
               
          </div>
      </div>
  </footer>
  <section style="text-align:center; margin:10px auto;"><p>Sponsored By <a href="http://enfoplus.net">Mr.Black Dragoon - CEO of BlackDragoon Merchants</a></p></section>