<app-header></app-header>
<div class="container">
    <h3>Register</h3>
     <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#home">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#menu1">OTP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">OnBoard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Team</a>
      </li>
  </ul>
  </div>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/img/merchant_logo.png" id="icon" alt="User Icon" />
        <h1>BlackDragoon Merchants</h1>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="submit" class="fadeIn fourth" value="Get OTP">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Enter your OTP here.">
      </form>
    </div>
  </div>
  <div class="col-md-9 text-center">
    <a [routerLink]="['/onboard']" class="OnBoard">
        Next
    </a>
  </div>
  <app-footer></app-footer>