html,
body,
header,
.view {
    height: 100%;
  }
.btnTeam{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background:black;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
} 
  @media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: 1000px;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
      height: 650px;
    }
  }
  
  .top-nav-collapse {
    background-color: #3f51b5 !important;
  }
  
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
  
  @media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  }
  
  .rgba-gradient {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)));
    background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  }
  
  .card {
    background-color: rgba(126, 123, 215, 0.2);
  }
  
  .md-form label {
    color: #ffffff;
  }
  
  h6 {
    line-height: 1.7;
  }