<app-header></app-header>
<div class="container">
    <h3>Register</h3>
     <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#home">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">OTP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#menu2">OnBoard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Team</a>
      </li>
  </ul>
  </div> 
 <!-- Full Page Intro -->
 <div class="view" style="background-image: url('assets/img/onboard.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row mt-5">
          <!--Grid column-->
          <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
            <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s" style="color: white;">BlackDragoon Merchants</h1>
            <img src="assets/img/merchant_logo.png" style="background-color: whitesmoke;height: 50px;width: 50px;align-content: center;">
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s" style="color: black;line-height: 30px;background-color: lightsteelblue;font-weight: 800;font-family: Impact;padding: 25px 25px 25px 10px;font-size: 20px;text-align: left;opacity: 0.8;">world's no.1 heavy cargo shipping company through various modes of transportation in order to satify your needs. We have expertise Pilots and Captains to ensure the safety of your products.</h6>
            <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s" style="color:white; outline:black solid;background-color: black; font-family: Geneva; opacity: 0.8;">Learn more</a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">
            <!--Form-->
            <div class="card wow fadeInRight" data-wow-delay="0.3s" [formGroup]="form" (ngSubmit)="form.valid">
              <div class="card-body">
                <!--Header-->
                <div class="text-center">
                  <h3 class="white-text" style="color: white; outline: black;">
                    <i class="fas fa-user white-text" style="color: white;"></i> Welcome OnBoard:</h3>
                  <hr class="hr-light">
                </div>
                <!--Body-->
                <div class="md-form">
                  <i class="fas fa-user prefix white-text active"></i>
                  <input type="text" formControlName="name" [ngClass]="{'is-invalid':form.get('name').touched && form.get('name').invalid}" id="form3" class="white-text form-control">
                  <label for="form3" class="active">Your name</label>
                  <div class="invalid-feedback">
                    <div>Your Name is required</div>
                  </div>
                </div>
                <div class="md-form">
                  <i class="fa fa-address-card prefix white-text active"></i>
                  <input type="email" formControlName="city" [ngClass]="{'is-invalid':form.get('city').touched && form.get('city').invalid}" id="form2" class="white-text form-control">
                  <label for="form2" class="active">Your City</label>
                  <div class="invalid-feedback">
                    <div>Your City is required</div>
                  </div>
                </div>
                <div class="md-form">
                  <i class="fa fa-graduation-cap prefix white-text active"></i>
                  <input type="text" formControlName="occupation" [ngClass]="{'is-invalid':form.get('occupation').touched && form.get('occupation').invalid}" id="form4" class="white-text form-control">
                  <label for="form4">Your Occupation</label>
                  <div class="invalid-feedback">
                    <div>Your Occupation is required</div>
                  </div>
                </div>
                <div class="text-center mt-4">
                  <hr class="hr-light mb-3 mt-4">
                  <a class="btn btn-dark" [routerLink]="['/team']" (click)="onSubmit()" [attr.disabled]="!form.valid">Next</a>
                  <div class="text-center mt-4">
                    
                    <hr class="hr-light mb-3 mt-4">
                    <div class="inline-ul text-center">
                      <a class="p-2 m-2 wht-ic">
                        <i class="fab fa-whatsapp white-text"> </i>
                      </a>
                      <a class="p-2 m-2 tw-ic">
                        <i class="fab fa-twitter white-text"></i>
                      </a>
                      <a class="p-2 m-2 li-ic">
                        <i class="fab fa-linkedin-in white-text"> </i>
                      </a>
                      <a class="p-2 m-2 ins-ic">
                        <i class="fab fa-instagram white-text"> </i>
                      </a>
                    </div>
                </div>
              </div>
            </div>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
  <app-footer></app-footer>
