<app-header></app-header>
<div class="container">
	<div class="row">
        <div class="profile-header-container">   
    		<div class="profile-header-img">
                <img class="img-circle" src="https://www.blackdragon.team/images/blackdragon-1000.png" />
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label">Mr.Black</span>
                </div>
            </div>
        </div> 
	</div>
</div>

<div class="container">
	<div class="row">
    <div class="col-md-12">
		<div class="form_main text-center">
                <h4 class="heading"><strong>Quick </strong> Preview <span></span></h4>
                <div class="form">
                <form method="post" id="contactFrm" name="contactFrm">
                	 
                    <input type="submit" (click)="getData()" value="Click here to show" name="submit" class="txt2 align-center">
                    <div class="container" style="background-image: linear-gradient(-90deg,lightblue,white);">
                       
                        <p>User Details Preview:</p>            
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Email</th>
                              <th>Mobile No</th>
                              <th>City</th>
                              <th>Occupation</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{ data.fName }}</td>
                              <td>{{ data.lName }}</td>
                              <td>{{ data.email }}</td>
                              <td>{{ data.mobileNo }}</td>
                              <td>{{ local.city }}</td>
                              <td>{{ local.occupation }}</td>
                            </tr>
                           </tbody>
                        </table>
                      </div>
                </form>
            </div>
            </div>
        </div>
	</div>
</div>
<a [routerLink]="['/pagethree']" class="btn btnPrimary" role="tab" data-toggle="tab">
  Next
</a>
<app-footer></app-footer>