
.tab li{
    align-items: center;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 9px 5px;
    border-left: 1px solid #ccc;
}
.tab li:last-child{
    border-right: 1px solid #ccc;
}

/* process model css */
.process-model {
    text-align: center;
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    margin: 10px auto 20px;
    border: none;
    z-index: 0;
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    top: 23px;
    width: 45%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #4689ae;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 18%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.active,
.process-model li.visited {
    color: #4689ae;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #4689ae;
}
.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;
}
.process-model li i {
    display: block;
    height: 48px;
    width: 48px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 47px;
    font-size: 20px;
    border-radius: 50%;
}
.process-model li a.active i, .process-model li a.visited i,  
.process-model li a.focus i
{
    background: #fff;
    border-color: black;
}
.process-model li p {
    font-size: 14px;
    margin-top: 11px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none; 
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5; 
}
.btnRegister{
    float: right;
    margin-top: 1%;
    margin-right: 25%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background:black;
    color: #fff;
    font-weight: 600;
    width: 10%;
    cursor: pointer;
}
.btnOnBoard{
    float: right;
    margin-top: 1%;
    margin-right: 0%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background:black;
    color: #fff;
    font-weight: 600;
    width: 10%;
    cursor: pointer;
}
.fadeIn{
    float: right;
    margin-top: 1%;
    margin-right: 5%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background:black;
    color: #fff;
    font-weight: 600;
    width: 10%;
    cursor: pointer;
}

@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}
@media screen and (max-width: 380px) { 
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
}
