<app-header></app-header>
<!--Pageone component $tarts here-->
<div class="container mt-20">
    <div class="row">
        <div class="col-md-9">
            <div class="nav justify-content-center nav-tabs">
            <ul class="nav nav-tabs process-model more-icon-preocess" #processModel role="tablist">
                <li role="presentation" *ngFor="let tab of tabs; let i = index">
                    <a [class]="tab.class" [ngClass]="{'focus': tab.disable == false}"  [href]="'#' + tab.path" role="tab" data-toggle="tab" style="align-items: center;">
                        <i>{{ i + 1 }}</i>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="signin">
            <div class="design-process-content">
                <app-register #appRegister></app-register>
                <div class="col-md-9 text-center">
                    <!-- [ngClass]="{'disabled': disabled == true}" -->
                    <a href="#otp" class="btnRegister" role="tab" data-toggle="tab" (click)="goActive(1)">
                        Sign In
                    </a>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="otp">
            <div class="design-process-content">
                <app-otp></app-otp>
                <div class="col-md-9 text-center">
                    <a href="#onboard" class="fadeIn fourth" role="tab" data-toggle="tab" (click)="goActive(2)">
                        Next
                    </a>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="onboard">
            <div class="design-process-content">
                <app-onboard></app-onboard>
                <div class="col-md-9 text-center">
                    <a href="#team" class="btn btnOnBoard" role="tab" data-toggle="tab" (click)="goActive(3)">
                        Next
                    </a>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="team">
            <div class="design-process-content">
                <app-team></app-team>
            </div>
        </div>
    </div>
</div>

