<div class="alert alert-success alert-dismissible fade show">
    <strong>Success!</strong> Your details has been added successfully. :)
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
