<app-header></app-header> 
<div class="wrapper">
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">BlackDragoon Merchants <small>welcomes you !!</small></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Contact</a></li>
                <li class="breadcrumb-item active">About Us</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="card card-primary card-outline">
                <div class="card-body">
                  <h5 class="card-title" style="text-decoration: underline;">VISION</h5>
  
                  <p class="card-text">
                    Our vision serves as the foundation for BlackDragoon Merchants which guides the entirety of our business by identifying what we need to accomplish in order to continue achieving.
                  </p>
                </div>
              </div>
          
            <div class="card" style="display: flex;
            justify-content: center;
            flex-direction: row;">
              <div class="card-body">
                <h5 class="card-title" style="text-decoration: underline;">MISSION</h5>
                <p class="card-text">
                  At BlackDragoon Merchants, we strive to provide the most trusted shipping service throughout the world through strong partnerships and continuous commitment to our customers and our people.
                </p>
                
              </div>
            </div>
          
              <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title m-0">MOTTO :</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">WE SHIP FOR YOU !!</h6>
  
                  <p class="card-text">With all our pleasure,we certainly provide you a best shipping service in the world.</p>
                  
                </div>
              </div>
  
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h5 class="card-title m-0">SERVICE :</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Guaranteed Shipment</h6>
  
                  <p class="card-text">With all our service experiences and expertised shipment we guarantee your products safty.</p>
                  
                </div>
              </div>
            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  <img src="assets/img/merchant_logo.png" style="display: block;margin-left: auto;margin-right: auto;width: 50%;" class="center"/>
  <!--carousel-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/img/maersk.jpg" alt="ship">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: floralwhite;">Container Ship</h5>
          <p style="color: floralwhite; background-color:black;">Our ship can cross Panama Canal and Seus Canal. Designed by the world's greatest Engineers. We guarantee our shipments.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/container.jpg" alt="Ship">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: floralwhite;">Heavy Cargo Shipments</h5>
          <p style="color: floralwhite; background-color: black;">We can ship heavy cargo, heavy-duty cargo, heaviest cargo based on your needs. We have various ships based on the cargo needed to be shipped.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/tanker.jpg" alt="Ship">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: floralwhite;">Oil Tankers</h5>
          <p style="color: floralwhite; background-color: black;">We can ship crude oil from various oil wells across the world. We have contracts with Saudi Arabia's oil wells and refiners. Safety is our primary measure during shipments.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  

  
    
  </div>
  <app-footer></app-footer>
  <!-- ./wrapper -->
  
  
  