.btnPrimary{
    float: right;
    margin-top: 1%;
    margin-right: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background:black;
    color: #fff;
    font-weight: 600;
    width: 10%;
    cursor: pointer;
}