<app-header></app-header>
<div class="container">
    <h3>Register</h3>
     <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#home">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">OTP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">OnBoard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#menu2">Team</a>
      </li>
  </ul>
  </div>
<div class="container" style="background-image: linear-gradient(-90deg,lightblue,white);">
    <h2 style="font-weight: bolder;font-style: italic;">Your Team Members!!</h2>
    <p>These are the members you are going to work with:</p>            
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id No</th>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody *ngFor="let t of team">
        <tr>
          <td>{{ t.id }}</td>
          <td>{{ t.Name }}</td>
          <td style="font-weight: 500;">{{ t.Email }}</td>
        </tr>
       </tbody>
    </table>
  </div>
<a [routerLink]="['/pagetwo']" class="btn btnPrimary" role="tab" data-toggle="tab">
    Next
</a>
<app-footer></app-footer>