<app-header></app-header>
<div class="container">
    <h3>Register</h3>
     <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">OTP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">OnBoard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Team</a>
      </li>
  </ul>
  </div>
  <div class="container">
	<div class="row">
    <div class="col-md-12">
		<div class="form_main text-center">
                <h4 class="heading"><strong>Quick </strong> Registeration <span></span></h4>
                <div class="form">
                    <form name="form" [formGroup]="form" (ngSubmit)="form.valid">
                        <div class="form-group">
                            <input type="text" name="fName" class="form-control" formControlName="fName" [ngClass]="{'is-invalid':form.get('fName').touched && form.get('fName').invalid}" placeholder="First Name *" value="" required/>
                            <div class="invalid-feedback">
                                <div>First Name is required</div>
                              </div>
                            </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="lName" [ngClass]="{'is-invalid':form.get('lName').touched && form.get('lName').invalid}" placeholder="Last Name *" value="" required/>
                            <div class="invalid-feedback">
                                <div>Last Name is required</div>
                              </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}" placeholder="Your Email *" value="" />
                            <div *ngIf="form.get('email').touched && form.get('email').invalid"  class="invalid-feedback">
                                <div *ngIf="form.get('email').errors.required">Email Name is required</div>
                                <div *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>
                              </div>
                        </div>
                        <div class="form-group">
                            <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" formControlName="phone" [ngClass]="{'is-invalid':form.get('phone').touched && form.get('phone').invalid}" placeholder="Your Phone *" value="" required/>
                            <div class="invalid-feedback">
                                <div>Phone No is required</div>
                              </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" placeholder="Password *" value="" required/>
                            <div *ngIf="form.get('password').touched && form.get('password').invalid"  class="invalid-feedback">
                                <div *ngIf="form.get('password').errors.required">Password is required</div>
                                <div *ngIf="form.get('password').errors.minlength">Password  must be a letaset 6 charector</div>
                              </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="cPassword" [ngClass]="{'is-invalid':form.get('cPassword').touched && form.get('cPassword').invalid}"  placeholder="Confirm Password *" value="" required/>
                            <div *ngIf="form.get('cPassword').touched && form.get('cPassword').invalid"  class="invalid-feedback">
                                <div *ngIf="form.get('cPassword').errors.required">Type your password again</div>
                                <div *ngIf="form.get('cPassword').errors.minlength">Password  must be a letaset 6 charector</div>
                              </div>
                        </div>
                        <div class="form-group">
                            <div class="maxl">
                                <label class="radio inline"> 
                                    <input type="radio" name="gender" value="male" checked>
                                    <span> Male </span> 
                                </label>
                                <label class="radio inline"> 
                                    <input type="radio" name="gender" value="female">
                                    <span>Female </span> 
                                </label>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <select class="form-control">
                                <option class="hidden"  selected disabled>Please select your Security Question</option>
                                <option>What is your Birthdate?</option>
                                <option>What is Your old Phone Number</option>
                                <option>What is your Pet Name?</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="quesType" [ngClass]="{'is-invalid':form.get('quesType').touched && form.get('quesType').invalid}" placeholder="Enter Your Answer *" value="" required/>
                            <div class="invalid-feedback">
                                <div>This Field is required</div>
                              </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Upload your picture here !</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <div class="form-group">
                            <a class="btn btn-dark" [routerLink]="['/otp']" (click)="onSubmit()" [attr.disabled]="!form.valid">Register</a>
                          </div> 
                    </form>
            </div>
            </div>
        </div>
        </div>
</div>
<app-footer></app-footer>